
/* div {
  border: 1px solid grey;
  border-radius: 12px;
} */
/* body {
  display: flex;
} */
input,
  .guestCountDisplay {
  border-style: none;
  /* padding-top: 5px; */
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  background: transparent;
  border: none;
  font-weight: 300;
}
input:focus, button {
  outline: none;
  border-radius: 12px;
}
button,
  input,
  .calendar-day {
    cursor: pointer;
  }
#app {
  text-overflow: ellipsis;
  text-overflow: hidden;
  color: rgb(34, 34, 34);
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  /* position: relative; */
  margin-top: 48px;
  /* justify-content: flex-end; */
  flex-direction: row-reverse;
  /* width: 33.33%; */
  margin-right: 5%;
  margin-left: 8.33%;
  /* flex-wrap: row wrap; */
  color: #484848;
  line-height: 1.43;
}
.container {
  position: sticky;
  max-width: 400px;
  width: auto;
  z-index: 1;
  padding-right: 1px;
  font-size: 8px;
}
#reservations {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: lightgrey 0px 6px 16px;
}
.headerPricePerNight {
  justify-content: flex-start;
  margin-bottom: 20px;
}
.pricePerNight,
  .selectDates {
    font-weight: 600;
    font-size: 20px;
}
.perNightString {
  font-size: 16px;
}
#bookingTable {
  border-radius: 8px;
  border: 1px solid darkgrey;
  margin-bottom: 16px;
}
.bookingContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  border-bottom: 1px solid darkgrey;
}
.guestDropdown {
  cursor: pointer;
}
.checkInTitle, .checkOutTitle, .guestCountTitle {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 8px;
}
.checkInDate {
  border-right: 1px solid darkgrey;
}
.checkAvailability {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.checkAvailabilityButton {
  min-width: 200px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: white;
  padding: 14px 24px 14px 24px;
  background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
  --mouse-x: 32.8438;
  --mouse-y: 41.6667;
  background-image: var(--dls19-brand-gradient-radial, radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ))
}
.checkAvailabilityButton:hover {
  opacity: 1
}
.showCalendar {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    border-radius: 16px;
    box-shadow: lightgrey 0px 6px 16px;
    border: 1px solid lightgrey;
    background-color: white;
    top: 15%;
    left: 0;
    font-size: 14px;
    width: 600px;
    margin-left: -85%;
    padding: 16px 0px 16px;
}
.calendarHead {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
.headerCalendar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20px;
}
.calendarBookingContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  border: 1px solid darkgrey;
  border-radius: 12px;
  margin-left: 22%;
}
.calendars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
  text-align: center;
}
.leftCalendarHeader {
  display: flex;
  justify-content: space-evenly;
  padding-right: 40px;
}
.rightCalendarHeader {
  display: flex;
  justify-content: space-evenly;
  padding-left: 40px;
}
.selectedDateRange {
  font-size: 14px;
  font-weight: 200;
}
.changeMonthButton {
  background-color: white;
  border: none;
}
.calendarButtons {
  display: flex;
  justify-content: flex-end;
  padding-right: 32px;
}
.calendar-table,
.calendar-day,
  .week-day {
  width: 40px;
  height: 40px;
  padding-left: 7px;
  padding-right: 7px;
}
.dateUnavailable {
  text-decoration: line-through;
  cursor: text;
}
.clearButton,
  .guestCloseButton {
  background-color: none;
  background: none;
  border: none;
  text-decoration: underline;
}
.guestCloseButton {
  padding-left: 220px;
  padding-bottom: 10px;
}
.closeButton {
  color: white;
  background: black;
  border-radius: 8px;
  padding: 5px 10px;
}
.hiddenCalendar {
  display: none;
}
.guestPickerList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 0;
}
.guestNumber {
  background: none;
  border: none;
}
.hiddenGuestPicker {
  display: none;
}