
/* div {
  border: 1px solid grey;
  border-radius: 12px;
} */
/* body {
  display: flex;
} */
input,
  .guestCountDisplay {
  border-style: none;
  /* padding-top: 5px; */
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  background: transparent;
  border: none;
  font-weight: 300;
}
input:focus, button {
  outline: none;
  border-radius: 12px;
}
button {
  background: none;
  border-radius: 50%;
  border: 1px solid grey;
}
.minusButton {
  border: 1px solid #E8E8E8;
  color: #E8E8E8;
  ;
}
button,
  input,
  .calendar-day {
    cursor: pointer;
  }
table {
  border-spacing: 0px 1px;
}
#reservations {
  text-overflow: ellipsis;
  text-overflow: hidden;
  color: rgb(34, 34, 34);
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  /* position: relative; */
  margin-top: 48px;
  /* justify-content: flex-end; */
  flex-direction: row-reverse;
  /* width: 33.33%; */
  margin-right: 5%;
  margin-left: 8.33%;
  /* flex-wrap: row wrap; */
  color: #484848;
  line-height: 1.43;
}
/* .container {
  position: sticky;
  max-width: 400px;
  width: auto;
  z-index: 1;
  padding-right: 1px;
  font-size: 8px;
} */
/* #innerContainer {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: lightgrey 0px 6px 16px;
} */
/* .headerPricePerNight {
  justify-content: flex-start;
  margin-bottom: 20px;
} */
.pricePerNight,
  .selectDates {
    font-weight: 600;
    font-size: 20px;
}
.perNightString {
  font-size: 16px;
}
/* #bookingTable {
  border-radius: 8px;
  border: 1px solid darkgrey;
  margin-bottom: 16px;
} */
/* .bookingContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  border-bottom: 1px solid darkgrey;
} */
.checkInTitle, .checkOutTitle, .guestCountTitle {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 8px;
}
.checkInDate {
  border-right: 1px solid darkgrey;
}
/* .checkAvailability {
  display: flex;
  justify-content: center;
  align-items: flex-end;
} */
/* .checkAvailabilityButton {
  min-width: 200px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: white;
  padding: 14px 24px 14px 24px;
  background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
  --mouse-x: 32.8438;
  --mouse-y: 41.6667;
  background-image: var(--dls19-brand-gradient-radial, radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ))
} */
.checkAvailabilityButton:hover {
  opacity: 1
}
.showCalendar {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    border-radius: 16px;
    box-shadow: lightgrey 0px 6px 16px;
    border: 1px solid lightgrey;
    background-color: white;
    top: 50px;
    left: 0;
    font-size: 12px;
    width: 600px;
    margin-left: -85%;
    padding: 16px 0px 16px;
    cursor: default;
}
.calendarHead {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
.headerCalendar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20px;
}
.calendarBookingContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  border: 1px solid darkgrey;
  border-radius: 12px;
  margin-left: 22%;
}
.calendars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
  text-align: center;
}
.leftCalendarHeader {
  display: flex;
  justify-content: space-evenly;
  padding-right: 40px;
  font-weight: 600;
}
.rightCalendarHeader {
  display: flex;
  justify-content: space-evenly;
  padding-left: 50px;
  font-weight: 600;
}
.selectedDateRange {
  font-size: 14px;
  font-weight: 200;
}
.changeMonthButton {
  background-color: white;
  border: none;
}
.calendarButtons {
  display: flex;
  justify-content: flex-end;
  padding-right: 32px;
}
.disableMonthButton {
  color: lightgrey;
  background: none;
  border: none;
  cursor: default;
}
.calendar-table {
  table-layout: fixed;
}
.calendar-table,
.calendar-day,
  .week-day {
  width: 20px;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid white
}
.week-day {
  font-weight: 300;
}
.selectedCheckInDate,
  .selectedCheckOutDate {
  border: none;
  background: black;
  color: white;
  border-radius: 50%;
}
.inDateRange {
  background: #f7f7f7;
  border: 1px solid #f7f7f7
}
.dateAvailable:hover {
  /* background: lightgrey; */
  border: 1px solid black;
  border-width: thin;
  border-radius: 50%;
}
/* .minStay {
  background: #f7f7f7;
  border-radius: 50%;
  cursor: not-allowed;
} */
.dateUnavailable {
  text-decoration: line-through;
  text-decoration-color: rgb(145, 143, 143);
  color: rgb(141, 139, 139);
  cursor: default;
  font-weight: 200;
  background: white;
}
.clearButton,
  .guestCloseButton {
  background-color: none;
  background: none;
  border: none;
  text-decoration: underline;
  padding-right: 15px;
}
.guestCloseButton {
  /* padding-left: 210px; */
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 10px;
  padding-top: 10px;
}
.closeButton {
  color: white;
  background: black;
  border-radius: 8px;
  padding: 5px 10px;
}
.hiddenCalendar {
  display: none;
}
.guestDropdown {
  cursor: pointer;
  justify-content: flex-end;
}
.guestPickerList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 0;
}
.showGuestPicker {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  border-radius: 4px;
  box-shadow: lightgrey 0px 6px 16px;
  border: 1px solid lightgrey;
  background-color: white;
  width: 250px;
  top: 175px;
  right: 25px;
  font-size: 12px;
  cursor: default;
  padding: 10px;
}
.guestRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}
.guestQuantityContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 15px;
  align-items: center;
}
.guestNumber {
  background: none;
  border: none;
}
.childrenRow {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.guestNote {
  display: flex;
  justify-content: center;
  font-size: 10px;
}
.hiddenGuestPicker {
  display: none;
}
.pricingTable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 15px;
}
.pricingColInfo {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5px;
}
.pricingColPrices {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-top: 5px;
}
.pricingFooter {
  padding-top: 5px;
  padding-bottom: 0px;
  border-top: 1px solid darkgrey;
  font-weight: 600;
  color: black;
  font-size: 16px;
}
.hiddenPricingTable {
  display: none;
}